 .u-section-1 {
  background-image: url("images/piccrtoowner.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 229px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 90px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 550px;
}

.u-section-2 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 68px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-2 .u-image-1 {
  width: 195px;
  height: 195px;
  margin: -73px auto 0 35px;
}

.u-section-2 .u-text-1 {
  margin: -92px auto 0;
}

.u-section-2 .u-text-2 {
  width: 680px;
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  width: 188px;
  height: 188px;
  margin: -216px 43px 48px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -303px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-2 .u-video-1 {
    height: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 480px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/WhatsAppImage2023-10-18at12.38.44.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 80px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 497px;
}

.u-section-4 .u-text-1 {
  margin: 56px 193px 0 201px;
}

.u-section-4 .u-image-1 {
  width: 153px;
  height: 153px;
  margin: -130px 75px 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: normal;
  margin: -112px 425px 0 458px;
}

.u-section-4 .u-gallery-1 {
  height: 335px;
  margin-top: 79px;
  margin-bottom: 35px;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-text-1 {
    width: 746px;
    margin-left: 101px;
    margin-right: 93px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 358px;
    margin-right: 325px;
    width: 224px;
  }

  .u-section-4 .u-gallery-1 {
    height: 275px;
    margin-top: -26px;
    margin-bottom: 34px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 248px;
    margin-right: 215px;
  }

  .u-section-4 .u-gallery-1 {
    height: 875px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
    margin-top: 59px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -95px;
    margin-right: 125px;
    margin-left: 158px;
  }

  .u-section-4 .u-gallery-1 {
    height: 661px;
    margin-top: -45px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 53px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -114px;
    margin-right: 25px;
    margin-left: 58px;
  }

  .u-section-4 .u-gallery-1 {
    height: 422px;
    margin-top: -21px;
    margin-bottom: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5 .u-blog-1 {
  margin-top: 66px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 461px;
  grid-auto-columns: calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 298px;
  margin: 72px 30px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 298px;
  margin: 72px 30px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  height: 298px;
  background-image: url("");
  margin: 72px 30px 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-4 {
  height: 298px;
  background-image: url("");
  margin: 72px 30px 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-image-5 {
  height: 298px;
  background-image: url("");
  margin: 72px 30px 0;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 5px;
  width: 40px;
  height: 40px;
  top: 195px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 192px;
  right: -5px;
}

.u-section-5 .u-text-1 {
  font-weight: normal;
  margin: -499px 397px 0 442px;
}

.u-section-5 .u-image-6 {
  width: 158px;
  height: 158px;
  margin: -172px auto 60px -38px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-right: 297px;
    margin-left: 342px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-text-1 {
    margin-right: 187px;
    margin-left: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-text-1 {
    margin-right: 97px;
    margin-left: 142px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 39px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 647px;
}

.u-section-6 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 23px auto 0 250px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-6 .u-image-1 {
  width: 204px;
  height: 204px;
  margin: -360px auto 0 39px;
}

.u-section-6 .u-image-2 {
  width: 158px;
  height: 158px;
  margin: -33px 69px 0 auto;
}

.u-section-6 .u-text-1 {
  margin: 39px auto 0 427px;
}

.u-section-6 .u-text-2 {
  margin: 16px 149px 60px 215px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 1147px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 352px;
  }

  .u-section-6 .u-text-2 {
    width: 680px;
    margin-left: 115px;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-video-1 {
    margin-left: 80px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 270px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1091px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-6 .u-video-1 {
    height: 304px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -304px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 203px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 978px;
  }

  .u-section-6 .u-video-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -191px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 128px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 168px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-7 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-7 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-7 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-7 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-7 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-7 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-7 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 64px;
  }
}